{% extends 'base.html' %}
{% block body %}
<table class="table table-striped">
    <tr><th>Melon Name</th><th>Quantity</th><th>Price</th><th>Total</th></tr>

    {% for id in current_cart %}
        <tr><td>{{ current_cart[id][0] }}</td> 
            <td>{{ session['cart'][id] }}</td>
            <td>${{ '%.02f' % current_cart[id][1] }}</td>
            <td>${{ '%.02f' % (session['cart'][id] * current_cart[id][1]) }}</td>
        </tr>
    {% endfor %}
</table>
<h3>Total: ${{ '%.02f' % total }} </h3>
<a href="/checkout" class="btn btn-large btn-primary">Check Out</a>
{% endblock %}
